<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/sap_perfil.png" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <div class="linea"></div>
        <br>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
                <i class="bi bi-pencil-fill"></i> EDITAR
            </button>
            <h1>ACERCA DE MI</h1>
            <p class="texto">{{persona.descripcion}}</p>
        </span>
         
    </div>

</div> 
 
 