<div class="row">
    <h1>Hard & Soft Skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <!-- https://www.npmjs.com/package/ng-circle-progress -->
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[showSubtitle]="false"
[title]="'HTML'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>

</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <!-- https://www.npmjs.com/package/ng-circle-progress -->
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[showSubtitle]="false"
[title]="'HTML'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>

</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <!-- https://www.npmjs.com/package/ng-circle-progress -->
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[showSubtitle]="false"
[title]="'HTML'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>

</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <!-- https://www.npmjs.com/package/ng-circle-progress -->
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[showSubtitle]="false"
[title]="'HTML'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>

</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">

    <!-- https://www.npmjs.com/package/ng-circle-progress -->
<circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[showSubtitle]="false"
[title]="'HTML'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>

</div>
</div>