
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.png" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sergio Ariel Piubelli</p>
        <p>Full Strack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum minus at rerum illo, ab adipisci nesciunt, est quidem dicta repellat amet magnam officiis. Nobis, ducimus officiis. Dolor ut vitae nostrum.</p>
        </span>
    </div>

</div>