<div class="row">
    <h1>Experiencia Laboral</h1>
    
    <div class="col-lg-11">
    <ul>
        <li><h1>Curso 1</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, facere molestiae! Praesentium officia architecto voluptas, omnis a dolorum! Delectus itaque culpa placeat, officia obcaecati iusto tempora fugit et facilis temporibus!</p>
    </li>
    
        <li><h1>Curso 2</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, facere molestiae! Praesentium officia architecto voluptas, omnis a dolorum! Delectus itaque culpa placeat, officia obcaecati iusto tempora fugit et facilis temporibus!</p>
    </li>
        <li><h1>Curso 3</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, facere molestiae! Praesentium officia architecto voluptas, omnis a dolorum! Delectus itaque culpa placeat, officia obcaecati iusto tempora fugit et facilis temporibus!</p>
    </li>
    </ul>
    </div>
    
 


    </div>